body {
    background-color: white;
}

h1{
    color: blue;
}

h2{
    color: blue;
}

#container {
    width: 500px;
    height: 500px;
    padding: 40px;
    box-shadow: 5px 5px 3px white;
    text-align: justify;
}